* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger-container {
    width: 30%;
    height: 6rem;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    border: 3px solid grey;
}

.my-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-text {
    color: white;
}

.result-text {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/header.jpg);
    border: 1px solid grey;
}

.titleContainer {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

main img {
    width: 2rem;
    height: 2rem;
}

main input {
    margin-right: 0.4rem;
}
